.App {
  text-align: center;
  margin-top: 50px;
  background: #d8b0b0;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li button {
  margin-left: 10px;
}
